	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "ng.org.aitie"
		versionCode=""
		version   = "1.0.0">
		
		<name>AITIE APP		</name>
		<description>This App is just a practice from workshop		</description>
		<author href="koldaf.net" email="koldaf20@gmail.com">Koldaf		</author>
		<feature name="http://api.phonegap.com/1.0/battery" />
		<feature name="http://api.phonegap.com/1.0/camera" />
		<feature name="http://api.phonegap.com/1.0/contacts" />
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />
		<preference name="phonegap-version" value="cli-6.3.0" />
		<preference name="android-build-tool" value="gradle" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="FadeSplashScreen " value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="none" />
		<preference name="TopActivityIndicator" value="white" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="KeyboardShrinksView " value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="windows-identity-name" value="" />
		<preference name="android-minSdkVersion" value="14" />
		<preference name="android-targetSdkVersion" value="21" />
		<preference name="android-maxSdkVersion" value="23" />
		<preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="2000" />
		<preference name="ErrorUrl" value="null" />
		<preference name="BackgroundColor" value="#00bfff" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="LoadingDialog" value="," />
		<preference name="LoadUrlTimeoutValue" value="null" />
		<platform name="ios">
		</platform>
		<platform name="android">
		<icon src="assets/images/aitie_6.png" qualifier="ldpi" />
		<icon src="assets/images/aitie_5.png" qualifier="mdpi" />
		<icon src="assets/images/aitie_4.png" qualifier="hdpi" />
		<icon src="assets/images/aitie_3.png" qualifier="xhdpi" />
		<icon src="assets/images/aitie_2.png" qualifier="xxhdpi" />
		<icon src="assets/images/aitie_1.png" qualifier="xxxhdpi" />
		<splash src="assets/images/splash/ldpi1.png" qualifier="" />
		<splash src="assets/images/splash/ldpi2.png" qualifier="" />
		<splash src="assets/images/splash/mdpi1.png" qualifier="" />
		<splash src="assets/images/splash/mdpi2.png" qualifier="" />
		<splash src="assets/images/splash/hdpi1.png" qualifier="" />
		<splash src="assets/images/splash/hdpi2.png" qualifier="" />
		<splash src="assets/images/splash/xhdpi1.png" qualifier="" />
		<splash src="assets/images/splash/xhdpi2.png" qualifier="" />
		<splash src="assets/images/splash/xxhdpi1.png" qualifier="" />
		<splash src="assets/images/splash/xxhdpi2.png" qualifier="" />
		<splash src="assets/images/splash/xxxhdpi1.png" qualifier="" />
		<splash src="assets/images/splash/xxxhdpi2.png" qualifier="" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
		<access origin="https://youtube.com" subdomains="true" />
		<access origin="https://youtu.be/" subdomains="true" />
		</widget>